section.technical {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 100px;
}

.skill-box {
  background: white;
  border: 1px solid white;
  border-radius: 2%;
  box-shadow: 0 0 10px white;
  padding: 30px;
  width: 450px;
  transition: 0.3s ease-in-out;
}

.skill-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #cca085;
}

.skill-box h5 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.skill-box h6 {
  font-size: 25px;
  margin: 40px 0px 10px;
  text-align: center;
  color: #cca085;
  font-weight: 700;
}

.skill-box p {
  font-size: 16px;
  padding: 10px;
}

.technical-icon {
  display: flex;
  justify-content: center;
  margin: 20px;
}

i.bx.bxs-paint-roll,
i.bx.bx-code-alt {
  font-size: 40px;
  color: white;
  border: 4px solid #cca085;
  border-radius: 50%;
  box-sizing: content-box;
  overflow: visible;
  background: #cca085;
  padding: 10px;
}

.skill-box ul {
  list-style-type: none;
}

.skill-box li {
  text-align: center;
  font-size: 16px;
}
